temp
Module-14
.vscode
1_pattern.exe
# ---------------------------
# C++ Ignore Rules
# ---------------------------

# Object files
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Ignore compiled binary files
*.executables
*.out
*.o
*.obj
*.a
*.so
*.dll
*.bin

# Ignore build directories
/build/
/dist/
/Debug/
/Release/
# Compiled Static libraries
*.a
*.lib

# Executables
a.out
*.out
*.exe

# Catch executables without extensions
# (any file in /bin or /build is assumed to be a binary)
bin/
build/

# Mac specific junk
.DS_Store

*
!*/
!*.*

# Ignore all files with no extension (typical for compiled binaries)
.*
!*/        # keep directories
!*.*/      # keep hidden directories
!.*        # keep hidden files like .gitignore
!*/**.*    # keep files that have extensions